<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primaryColor: "#2191DE",
              secondaryColor: "#de6e21",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <div
      class="container mx-auto border-[1px] border-primaryColor rounded-lg shadow-lg drop-shadow-lg bg-black font-serif w-2/3 my-8 text-white flex justify-between items-center px-12"
    >
      <h1
        class="text-2xl px-3 py-5 hover:text-secondaryColor font-bold group cursor-pointer"
      >
        <a href="/members">
          The
          <span class="font-bold text-secondaryColor group-hover:text-white"
            >Car</span
          >
          Lover's Club</a
        >
      </h1>
      <div
        class="flex gap-4 items-center justify-center h-[70px] m-0 text-[18px]"
      >
        <button
          class="hover:bg-secondaryColor hover:scale-105 h-full rounded-sm w-20 transition duration-300"
        >
          <a href="/members/log-in"> Log In</a>
        </button>
        <button
          class="hover:bg-secondaryColor hover:scale-105 h-full rounded-sm w-20 transition duration-300"
        >
          <a href="/members/sign-up"> Sign Up</a>
        </button>
      </div>
    </div>

    <!-- Cards Section -->
    <section
      class="container mx-auto flex flex-col gap-10 w-[40%] items-center mb-20 mt-12"
    >
      <!-- Card -->
      <div
        class="bg-white w-full flex items-center gap-4 px-8 py-6 rounded-lg shadow-xl"
      >
        <!-- Card Image -->
        <img src="" alt="Card Image" class="w-[20%] rounded-full" />
        <!-- Card Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold">Hello, World!</h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            To see additional information, register an account and log in, then
            use the passcode "jojo" to become a member of The JoJo Club!
          </p>
          <div class="flex text-sm justify-between items-center justify-center">
            <h1>Posted by <span class="font-bold"> Hamza </span></h1>
            <p>1868-04-04</p>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div
        class="bg-white w-full flex items-center gap-4 px-8 py-6 rounded-lg shadow-xl"
      >
        <!-- Card Image -->
        <img src="" alt="Card Image" class="w-[20%] rounded-full" />
        <!-- Card Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold">Hello, World!</h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            To see additional information, register an account and log in, then
            use the passcode "jojo" to become a member of The JoJo Club!
          </p>
          <div class="flex text-sm justify-between items-center justify-center">
            <h1>Posted by <span class="font-bold"> Hamza </span></h1>
            <p>1868-04-04</p>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div
        class="bg-white w-full flex items-center gap-4 px-8 py-6 rounded-lg shadow-xl"
      >
        <!-- Card Image -->
        <img src="" alt="Card Image" class="w-[20%] rounded-full" />
        <!-- Card Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold">Hello, World!</h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            To see additional information, register an account and log in, then
            use the passcode "jojo" to become a member of The JoJo Club!
          </p>
          <div class="flex text-sm justify-between items-center justify-center">
            <h1>Posted by <span class="font-bold"> Hamza </span></h1>
            <p>1868-04-04</p>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div
        class="bg-white w-full flex items-center gap-4 px-8 py-6 rounded-lg shadow-xl"
      >
        <!-- Card Image -->
        <img src="" alt="Card Image" class="w-[20%] rounded-full" />
        <!-- Card Info -->
        <div class="flex flex-col gap-5 w-[80%]">
          <h1 class="text-lg font-bold">Hello, World!</h1>
          <p
            class="text-base text-primaryColor border-b-[1px] border-gray-300 pb-4 text-justify font-medium"
          >
            To see additional information, register an account and log in, then
            use the passcode "jojo" to become a member of The JoJo Club!
          </p>
          <div class="flex text-sm justify-between items-center justify-center">
            <h1>Posted by <span class="font-bold"> Hamza </span></h1>
            <p>1868-04-04</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
