<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>

    <!-- Sign Up Section -->
    <section
      class="container mx-auto flex flex-col gap-10 w-[40%] items-center mb-20 mt-12 bg-white rounded-lg shadow-2xl px-12 py-8"
    >
      <!-- Section Header -->
      <div class="flex justify-between w-full items-center">
        <div class="flex flex-col gap-3">
          <h1 class="text-4xl font-bold">Log In</h1>
          <p class="text-xs font-mono">
            Don't have an account ?
            <a href="/members/sign-up" class="text-primaryColor">Sign up</a>
          </p>
        </div>
        <img src="" alt="section header image" />
      </div>

      <form method="POST" action="" class="flex flex-col w-full gap-5">
        <div class="flex flex-col gap-2">
          <label for="username" class="font-bold text-base"> Username: </label>
          <input
            type="text"
            name="username"
            id="username"
            class="bg-secondaryColor/30 p-2 h-9 rounded"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="font-bold text-base"> Password: </label>
          <input
            type="password"
            name="password"
            id="password"
            class="bg-secondaryColor/30 p-2 h-9 rounded"
          />
        </div>

        <button
          class="px-5 py-2 rounded bg-black hover:bg-primaryColor text-white w-28 transition duration-300"
          type="submit"
        >
          Log In
        </button>
      </form>
    </section>
  </body>
</html>
