<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body class="bg-gray-100">
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>

    <!-- Sign Up Section -->
    <section
      class="container mx-auto flex flex-col gap-10 w-[40%] items-center mb-20 mt-12 bg-white rounded-lg shadow-2xl px-12 py-8"
    >
      <!-- Section Header -->
      <div class="flex justify-between w-full items-center">
        <div class="flex flex-col gap-3">
          <h1 class="text-4xl font-bold">Sign Up</h1>
          <p class="text-xs font-mono">
            Already registred ?
            <a href="/members/log-in" class="text-primaryColor">Log in</a>
          </p>
        </div>
        <img
          src="/images/carLogo.png"
          alt="section header image"
          class="w-[25%]"
        />
      </div>

      <form action="" method="POST" class="flex flex-col w-full gap-5">
        <div class="flex flex-col gap-2">
          <label for="username" class="font-bold text-base"> Username: </label>
          <input
            type="text"
            name="username"
            id="username"
            class="bg-secondaryColor/30 p-2 h-9 rounded"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="font-bold text-base"> Password: </label>
          <input
            type="password"
            name="password"
            id="password"
            class="bg-secondaryColor/30 p-2 h-9 rounded"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="font-bold text-base">
            Confirm Password:
          </label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            class="bg-secondaryColor/30 p-2 h-9 rounded"
          />
        </div>

        <input type="hidden" name="image_location" id="image_location" />
        <div class="flex gap-1">
          <img
            src="/images/peugeot208.png"
            alt="peugeot208"
            class="w-[20%] object-fit rounded-lg cursor-pointer hover:scale-110 transform duration-300 selectImg"
          />
          <img
            src="/images/clio-5.png"
            alt="clio5"
            class="w-[20%] rounded-lg cursor-pointer hover:scale-110 transform duration-300 selectImg"
          />
          <img
            src="/images/toyotayaris.jpg"
            alt="toyotayaris"
            class="w-[20%] object-fit rounded-lg cursor-pointer hover:scale-110 transform duration-300 selectImg"
          />
          <img
            src="/images/opel_corsa.jpg"
            alt="opel_corsa"
            class="w-[20%] object-fit rounded-lg cursor-pointer hover:scale-110 transform duration-300 selectImg"
          />
          <img
            src="/images/hyundai_i20.jpeg"
            alt="hyundai_i20"
            class="w-[20%] object-fit rounded-lg cursor-pointer hover:scale-110 transform duration-300 selectImg"
          />
        </div>

        <button
          class="px-5 py-2 rounded bg-black hover:bg-primaryColor text-white w-28 transition duration-300"
          type="submit"
        >
          Sign Up
        </button>
        <% if(errors) {%>
        <ul class="text-red-500 list-disc">
          <% errors.forEach((error) => { %>
          <li class="py-2"><%= error.msg %></li>
          <% }) %>
        </ul>
        <% } %>
      </form>
    </section>

    <script>
      const selectImage = document.querySelectorAll(".selectImg");

      selectImage.forEach((image) => {
        image.addEventListener("click", () => {
          // reset select effect on all images
          const allImages = document.querySelectorAll(".selectImg");
          allImages.forEach((indvImage) => {
            indvImage.classList.remove("border-2");
            indvImage.classList.remove("border-primaryColor");
          });

          // mark the clicked image as selected
          image.classList.add("border-2");
          image.classList.add("border-primaryColor");

          // capture the image attribute
          const imgSrc = image.getAttribute("src");

          // set the hidden input value to the selected img src
          const imgInput = document.getElementById("image_location");
          imgInput.setAttribute("value", imgSrc);
        });
      });
    </script>
  </body>
</html>
